{% extends './layout.html' %}
{% block title %}table{% endblock %}

{% block content %}
    <ol class="breadcrumb">
      <li><a href="javascript:;">Home</a></li>
      <li class="active">Table</li>
    </ol>
    <h3>table table-bordered table-striped</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>a</th>
          <th>b</th>
          <th>c</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>002</td>
          <td>003</td>
        </tr>
        <tr>
          <td>001</td>
          <td>002</td>
          <td>003</td>
        </tr>
        <tr>
          <td>001</td>
          <td>002</td>
          <td>003</td>
        </tr>
      </tbody>
    </table>
  <h3>table table-bordered table-striped table-justified</h3>
      <table class="table table-bordered table-striped table-justified">
      <thead>
        <tr>
          <th>a</th>
          <th>b</th>
          <th>c</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>002</td>
          <td>003</td>
        </tr>
        <tr>
          <td>001</td>
          <td>002</td>
          <td>003</td>
        </tr>
        <tr>
          <td>001</td>
          <td>002</td>
          <td>003</td>
        </tr>
      </tbody>
    </table>
{% endblock %}